<% @page_title = "Editions of #{@work.nice_title}" %>
<h2 class="info">
  <%= @work.nice_title %> (<%= @work.year %>) by
  <%= link_to_composer(@work.composer) %> 
</h2>

<%= render :partial => "editions" %>
